/* RESET */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}


/* BODY */

body{
    font-family:Arial, sans-serif;
    background:#f4f6f9;

    display:flex;
    justify-content:center;
    align-items:center;

    min-height:100vh;
    padding:40px;
}


/* FORM CONTAINER */

.form-container{
    width:100%;
    max-width:1200px;
}


/* FORM BOX */

.job-form{
    background:#c8ebc4;

    padding:30px;
    border-radius:18px;
    height:280px;

    box-shadow:0 4px 15px rgba(0,0,0,0.1);
}


/* HEADING */

.job-form h1{
    margin-bottom:35px;
    color:#1f2937;
    font-size:34px;
}


/* GRID */

.form-grid{
    display:grid;
    grid-template-columns:1fr 1fr 1fr;
    gap:15px 30px;
    justify-items:center;
}


/* INPUT GROUP */

.input-group{
    display:flex;
    flex-direction:column;
}


/* LABEL */

.input-group label{
    margin-bottom:6px;
    font-size:15px;
    color:#374151;
    font-weight:500;
}


/* INPUT */

.input-group input{
    padding:12px 16px;
    border:1px solid #d1d5db;
    border-radius:12px;
    width:320px;
    height:40px;
    font-size:16px;
    outline:none;

    background:#f3f4f6;
}

/* FULL WIDTH */

.full-width{
    grid-column:1 / 3;
    margin-top:25px;
}
