/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    display: flex;
}


/* SIDEBAR */
.sidebar {
    width: 240px;
     min-height:100vh;
     background: #06473e;
    color: white;
    padding: 20px;
    height: 100vh;
    position: fixed;
}

.logo {
    margin-bottom: 30px;
}

.menu {
    list-style: none;
}

.menu li {
    padding: 15px;
    margin: 10px 0;
    cursor: pointer;
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.menu li{
    transition:0.3s ease;
}
.menu li:hover{
    background:rgba(255,255,255,0.18);
    transform:translateX(8px) scale(1.02);
    box-shadow:0 4px 12px rgba(0,0,0,0.15);
}
.menu li:active{
    transform:scale(0.97);
}


.menu li.active {
    background: #0d6e60;
}

/* MAIN */
.main {
    margin-left: 240px;
    padding: 25px;
    width: 100%;
}

/* TOPBAR */
.topbar {
    background: #06473e;
    color: white;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-icons {
    display: flex;
    align-items: flex-end;
    gap: 17px;  
}

.profile, .bell {
    font-size: 24px;
    cursor: pointer;
}


/* PERFORMANCE */
.performance p {
    color: gray;
    font-size: 12px;
}

.performance h2 {
    font-size: 50px;
    font-weight: bold;
    color: #1e3a8a;
}

/* CARD */
.card {
    background: white;
    padding: 20px;
    border-radius: 12px;
    overflow:hidden;
}

/* PIE FIX */
.pie-wrapper {
    position: relative;
    width: 220px;
    height: 220px;
    margin: auto;
}

.pie-wrapper canvas {
    width: 100% !important;
    height: 100% !important;
}

/* CENTER TEXT */
.center-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.center-text h2 {
    font-size: 22px;
    font-weight: bold;
}

.center-text p {
    font-size: 12px;
    color: gray;
}

/* PROGRESS */
.progress-item {
    margin-top: 15px;
}

.progress-item p {
    display: flex;
    justify-content: space-between;
}

.bar {
    height: 8px;
    background: #e5e7eb;
    border-radius: 10px;
}

.bar div {
    height: 8px;
    background: #1e3a8a;
    border-radius: 10px;
}

/* LINE GRAPH */
.line-wrapper {
    height: 320px;
    margin-top:20px;
}

/* GROWTH */
.growth {
    color: green;
    font-size: 12px;
}

/* SMALL CARDS */
.small-card {
    background: #f3f4f6;
    padding: 15px;
    border-radius: 10px;
}

.small-card.orange {
    background: #fcd9c6;
}

.small-card.blue {
    background: #c7d7f5;
}

/* TEXT */
.sector-text {
    margin-top: 10px;
    font-size: 12px;
    text-align: center;
}