/* ===== Perspective (important for 3D) ===== */
.page {
  position: relative;
  height: 100vh;
  overflow: hidden;
  perspective: 1200px;
}

/* ===== Background ===== */
.bg-image {
  position: absolute;
  inset: 0;
  background-size: cover;
  background-position: center;
  background-color: #546eac;

  filter: blur(6px) brightness(50%);
  z-index: 0;
}

